[Unit]
Description=run droidian performance tweaks
After=local-fs.target
Before=lxc@android.service

[Service]
Type=oneshot
ExecStart=/usr/bin/miatoll-preboot.sh

[Install]
WantedBy=multi-user.target
