Source: adaptation-xiaomi-miatoll
Maintainer: Bardia Moshiri
Section: metapackages
Priority: optional
Build-Depends: debhelper (>= 10)
Standards-Version: 4.5.0.3
Vcs-Browser: https://github.com/droidian-devices/adaptation-droidian-miatoll
Vcs-Git: https://github.com/droidian-devices/adaptation-droidian-miatoll.git

Package: adaptation-xiaomi-miatoll
Architecture: arm64
Depends: ${misc:Depends},
         linux-bootimage-xiaomi-miatoll,
         adaptation-hybris-api29-phone,
         adaptation-miatoll-configs,
         libqt5core5a,
         batman
Description: adapatation-xiaomi-miatoll- meta
 Miatoll api29 adaptation metapackage

Package: adaptation-miatoll-configs
Architecture: arm64
Depends: ${misc:Depends},
Description: Miatoll's specific adaptation configs
