[Unit]
Description=Script run ealier in boot process

[Service]
Type=oneshot
ExecStart=/usr/bin/miatoll-preboot.sh

[Install]
WantedBy=sysinit.target
